@import './mixins';
@import './variables';

main{
  @include column-flex-div;
  background-color: $white;
  margin: auto 15px;
  padding: 25px;
  border-radius: 15px;

  h1{
    font-size: 1.9em;
    margin-bottom: 30px;
  }

  form{
    &>div{
      margin-bottom: 20px;
    }

    &>div:last-of-type{
      div{
        @include row-gap-layout;
        margin-top: 20px;
        margin-bottom: 10px;

        #contact-consent{
          width: 20px;
          height: 20px;
          border-radius: 1px !important; 
        }
      }
    }

    #name-container {
      @include column-flex-div;
      row-gap: 20px;
      div{
        @include column-flex-div;
        width: 100%;
      }
    }

    #query-types-container{
      @include column-flex-div;
    }

    #message{
      height: 220px;
      resize: none;
    }

    .label{
      @include label;
    }

    .input{
      @include border-style;

      input[type="radio"]{
        width: 17px;
        height: 17px;
        margin: 0;	
      }
    }

    .radio{
      @include row-gap-layout;
      margin-top: 10px;

      label{
        font-size: 18px;
      }
    }

    .required-highlight{
      color: $green-600;
    }

    .error-message{
      color: $red;
    }

    input[type="submit"]{
      width: 100%;
      background-color: $green-600;
      color: $white;
      border: none;
      border-radius: 8px;
      padding: 17px;
      font-family: $font;
      font-weight: 400;
      font-size: 16px;
      margin-top: 20px;
    }
  }
}