@import './variables';
@import './mixins';
@import './main-container';



body{
  padding: 0;
  margin: 0;
  font-family: $font;
  color: $grey-900;
  background-color: $green-200;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, p{
  margin: 0;
}

.hidden{
  display: none;
}

#modal-screen{
  display: none;
}

@media screen and (min-width: 900px) {
  main{
    width: 650px;
    padding: 35px;

    form{
      #name-container, #query-types-container{
        flex-direction: row;
        column-gap: 20px;
      }

      #message{
        height: 120px;
      }
    }
  }
}