$font: 'Karla', sans-serif;

$green-200: hsl(148, 38%, 91%);
$green-600: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 54%);

$white: hsl(0, 0%, 100%);
$grey-500: hsl(186, 15%, 59%);
$grey-900: hsl(187, 24%, 22%);

@mixin label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

@mixin border-style{
  border: 1px solid $grey-900;
  border-radius: 7px;
  padding: 15px 20px;
  margin-bottom: 15px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

@mixin row-gap-layout{
  display: flex;
  align-items: center;
  gap: 15px;
}

@mixin column-flex-div{
  display: flex;
  flex-direction: column;
}

body{
  padding: 0;
  margin: 0;
  font-family: $font;
  color: $grey-900;
  background-color: $green-200;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, p{
  margin: 0;
}

main{
  @include column-flex-div;
  background-color: $white;
  margin: auto 15px;
  padding: 25px;
  border-radius: 15px;

  h1{
    font-size: 1.9em;
    margin-bottom: 30px;
  }

  form{
    &>div{
      margin-bottom: 10px;
    }

    &>div:last-of-type{
      div{
        @include row-gap-layout;
        margin-top: 20px;
        margin-bottom: 10px;

        #contact-consent{
          width: 20px;
          height: 20px;
          border-radius: 1px !important; 
        }
      }
    }

    #name-container {
      @include column-flex-div;
      row-gap: 20px;
      div{
        @include column-flex-div;
        width: 100%;
      }
    }

    #query-types-container{
      @include column-flex-div;
    }

    #message{
      height: 220px;
      resize: none;
    }

    .label{
      @include label;
    }

    .input{
      @include border-style;

      input[type="radio"]{
        width: 17px;
        height: 17px;
        margin: 0;	
      }
    }

    .radio{
      @include row-gap-layout;
      margin-top: 10px;

      label{
        font-size: 18px;
      }
    }

    .required-highlight{
      color: $green-600;
    }

    .error-message{
      color: $red;
      margin-bottom: 20px;
    }

    input[type="submit"]{
      width: 100%;
      background-color: $green-600;
      color: $white;
      border: none;
      border-radius: 8px;
      padding: 17px;
      font-family: $font;
      font-weight: 400;
      font-size: 16px;
      margin-top: 20px;
    }
  }
}

.hidden{
  display: none;
}

#modal-screen{
  display: none;
}

@media screen and (min-width: 900px) {
  main{
    width: 650px;
    padding: 35px;

    form{
      #name-container, #query-types-container{
        flex-direction: row;
        column-gap: 20px;
      }

      #message{
        height: 120px;
      }
    }
  }
}