$font: 'Karla', sans-serif;

$green-200: hsl(148, 38%, 91%);
$green-600: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 54%);

$white: hsl(0, 0%, 100%);
$grey-500: hsl(186, 15%, 59%);
$grey-900: hsl(187, 24%, 22%);

body{
  padding: 0;
  margin: 0;
  font-family: $font;
  background-color: $green-200;

  // height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

main{
  background-color: $white;
  margin: auto 10px;
}